@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

body {
    font-family: "Oxygen", sans-serif;
    color: #222831;
}

.bg-register {
    background-image: url(/assets/cb2.jpg);
    background-size: cover;
    background-position: center;
}

.fz-13 {
    font-size: 13px;
}

.wrong .fa-check {
    display: none;
}

.good .fa-times {
    display: none;
}
.valid-feedback,
.invalid-feedback {
    margin-left: calc(2em + 0.25rem + 1.5rem);
}
